<div class="row">
  <div class="col-md-6">
    <% if @user.follower_users.any? %>
      <h3>Follower (<%= @user.follower_users.count %>)</h3>
      <ol class="user">
        <%= render partial: 'users/user2', collection: @followers %>
      </ol>
    <% end %>
  </div>
</div>