<div class="row">
  <div class="col-md-6">
    <% if @user.following_users.any? %>
      <h3>Follow (<%= @user.following_users.count %>)</h3>
      <ol class="user">
        <%= render partial: 'users/user', collection: @followings %>
      </ol>
    <% end %>
  </div>
</div>